.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.nutrition-info-container {
  display: flex;
  flex-direction: column;
}

.nutrition-info-details {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.nutrition-info-input {
  border-radius: 15px;
  border: 1px solid rgb(0, 0, 0, 25%);
  padding: 1rem;
}

.add-food-button {
  margin-top: 16px;
  background-color: #2BBC66;
  color: white;
  border: none;
  border-radius: 15px;
  padding: .6rem;
}

.add-food-button:hover {
  cursor: pointer;
  background-color: hwb(144 17% 21%);
}

.cancel-food-button {
  margin-top: 16px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #2bbc66;
  color: #2bbc66;
  padding: .6rem;
}

.cancel-food-button:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 95%);
}