.navbar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2BBC66;
    height: 60px;
}

.navbar-container a {
    text-decoration: none;
    color: black;
}

.navbar-button {
    background-color: white;
    border-radius: 15px;
    padding: .5rem 1.5rem;
    font-weight: 500;
}