.app-calorie-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

  }
  
  .app-overview-details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
    margin-top: 20px;
  }
  
  .app-overview-detail {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 25%);
  }

  .overview-food-log-title {
  }

  .overview-food-log-add {
    margin-top: 12px;
    padding: .5rem 1rem;
    border-radius: 15px;
    border: none;
    background-color: #2BBC66;
    color: white;
    font-weight: 500;
  }
  
  .overview-food-log-container {
    margin-top: 40px;
  }